.BarGraph {
   position: relative;
   background-color: rgb(186, 202, 221);
   overflow-y: hidden;
   border-radius: 2em;
   grid-column: span 2;
   height: 200px;
   margin: 5px;
   padding: 10px;

}