.Nav {
    position: relative;
    height: 80px;
    background-color: rgb(20, 40, 48);

    &:after {
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: rgb(45, 67, 80);
        z-index: 2;
    }
}